<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="工具-支付導出">無法顯示</title>
    <link rel="icon" th:href="@{pic/Thymeleaf.png}">
    <!--    <link rel="stylesheet" th:href="@{css/bootstrap.css}">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        /*.text-orange {*/
        /*    color: orange;*/
        /*}*/
        /*!*備註小字體*!*/
        .ps {
            font-size: 12px;
            color: gray;
        }

        .red {
            color: red;
        }

        .findEZInput {
            /*white-space: nowrap;*/
            width: 100%; /* 或者根據需要設置寬度 */
            max-width: 200px;
        }

        /*.table-bordered td{*/
        /*    font-size: 10px;*/
        /*}*/
        .table {
            font-size: 12px;
        }

        .url {
            max-width: 200px;            /* 設定固定寬度 */
            white-space: nowrap;     /* 禁止換行 */
            overflow: hidden;        /* 隱藏超出部分 */
            text-overflow: ellipsis; /* 顯示省略號 */
            direction: rtl;          /* 文字從右向左排列，隱藏左側內容 */
            text-align: left;        /* 保持文字對齊方式為左對齊 */
        }

        .bgc-lightBlue{
            background-color: red;
        }



    </style>
</head>
<body>

<button id="clearSearch" class="btn btn-danger position-fixed top-0 start-0 m-3">清空所有查詢欄位</button>
<button class="btn btn-primary position-fixed top-0 end-0 m-3" id="layoutBTN">導出數據</button>

<div class="container text-center table-sub-heading-color">
    <h1 class="text-orange">test4-pay工具</h1>
    <p class="ps">
        input欄位有Enter觸發之模糊搜尋
    </p>
</div>


<div class="container">

    <div>
        <h2 class="text-center btn-warning d-flex justify-content-center align-items-center">
            <span>盤口選擇</span>
        </h2><input value="test4" class="appCodeInput text-center mx-2 input">
        <!--    數量提示-->
        <div id="inputNum" class="ps"></div>
        <!-- 按鈕容器 -->
        <!-- 按鈕控制列表顯示與隱藏 -->
        <!--        <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#appCodeButtons">-->
        <!--            摺疊盤口顯示-->
        <!--        </button>-->
        <div id="appCodeButtons" class="d-flex flex-wrap"></div>
    </div>


    <h2 class="text-center btn-primary d-flex justify-content-center align-items-center">預計導出盤口之數據</h2>
    <!--    顯示導出盤口ID，最大值資訊-->
    <div class="table-bordered" id="exportTable">
        <div id="appCodePS"></div>
        <table class="table">
            <tr>
                <th>操作</th>
                <th>平台名</th>
                <th>最大平台ID</th>
                <th>最大方法ID</th>
                <th>最大通道ID</th>
                <th>最大算法模板ID</th>
                <th>回調地址
                </th>
            </tr>
        </table>
    </div>

    <!--修改導出腳本內容-->
    <div class="modifier">
        <h2 class="text-center btn-danger d-flex justify-content-center align-items-center">修改導出腳本內容</h2>
        中文<input type="text" id="myPlatformName" placeholder="中文"                                                    value="testMyPlatformName">
        英文<input type="text" id="myPlatformCode" placeholder="英文"                                                    value="testMyPlatformCode">
        商戶號<input type="text" id="myMerchantCode" style="max-width: 200px;" placeholder="商戶號"      v               value="testMyMerchantCode"                     >
        密鑰<input type="text" id="mySecretCode" class="longInput" style="width: 400px;" placeholder="密鑰"              value="testMySecretCode">
        <br>
        IP<input type="text" id="myIP" placeholder="IP"                                                                 value="testMyIP"      >
        下單地址<input type="text" id="mySuccessfulURL" class="longInput" style="width: 300px;" placeholder="下單地址"    value="testMySuccessfulURL"    >
        查詢地址<input type="text" id="myQueryURL" class="longInput" style="width: 300px;" placeholder="查詢地址"         value="testMyQueryURL"      >
        通道編碼<input type="text" id="myChannelCode" placeholder="通道編碼"                                               value="testMyChannelCode"      >
    </div>


    <div>
        <h2 class="text-center btn-success d-flex justify-content-center align-items-center">支付搜尋 </h2>

        <span id="zfNum" class="ps"></span>

    </div>

</div>

<!-- 表格容器，加入滾動條 -->
<div class="table-container">
    <table class="table table-bordered table-striped border table-hover table-sm" id="resultZF">
        <thead>
        <tr>
            <th>pick</th>
            <th>ID</th>

            <th style="width: 5%;"><input class="findEZInput" id="platformName" placeholder="中"></th>
            <th><input class="findEZInput" id="platformCode" placeholder="英*****"></th>
            <th style="max-width: 20px">創建時間</th>
            <th><input class="findEZInput" id="lastUpdatedBy" placeholder="LastEditor"></th>

            <th><input class="findEZInput" id="payRequestStrategy" placeholder="下單策略"></th>
            <th class="url"><input class="findEZInput" id="successUrl" placeholder="下單地址*****"></th>
            <th class="url"><input class="findEZInput" id="queryUrl" placeholder="查詢地址"></th>

            <th style="width: 34%;">
                <input class="findEZInput" id="requestValue" style="max-width: 75px;" placeholder="請求參數1">
                <input class="findEZInput" id="requestValue2" style="max-width: 75px;" placeholder="請求參數2">
                <input class="findEZInput" id="requestValue3" style="max-width: 75px;" placeholder="請求參數3">
                <input class="findEZInput" id="requestValue4" style="max-width: 75px;" placeholder="請求參數4">
                <input class="findEZInput" id="requestValue5" style="max-width: 75px;" placeholder="請求參數5">
                <input class="findEZInput" id="requestValue6" style="max-width: 75px;" placeholder="請求參數6">
                <input class="findEZInput" id="requestValue7" style="max-width: 75px;" placeholder="請求參數7">
                <input class="findEZInput" id="requestValue8" style="max-width: 75px;" placeholder="請求參數8">
            </th>
            <!--            <th></th>-->
            <th><input class="findEZInput" id="callbackUrl" placeholder="回調地址"></th>
            <th><input class="findEZInput" id="merchantCode" placeholder="商戶號"></th>
            <th><input class="findEZInput" id="secretKey" placeholder="密鑰"></th>
            <th><input class="findEZInput" id="publicKey" placeholder="公鑰"></th>
            <th><input class="findEZInput" id="rsaKey" placeholder="RSA密鑰"></th>
        </tr>
        </thead>
        <tbody>
        <!-- 這裡將動態插入數據 -->
        </tbody>
    </table>
    <!--    <table id="resultZF" class="table table-bordered">-->
    <!--        <tr>-->
    <!--            <th>pick</th>-->
    <!--            <th th:each="field : ${fieldNames}">-->
    <!--                <input class="findEZInput" th:id="${field}" th:placeholder="${field}">-->
    <!--            </th>-->
    <!--        </tr>-->
    <!--    </table>-->


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script th:inline="javascript">
    // ---------宣告變數-----------------------------
    // 查詢盤口輸日框 (輸入空則為搜全部)
    const prefix = 'http://localhost:666/'; // 本地服務器前墜(域名)
    const appCodeInput = document.querySelector('.appCodeInput');

    class PayRequestModel {
        constructor() {
            this.payModelId = "";
            this.platformCode = "";
            this.payStrategyName = "";
            this.payStrategyType = "";
            this.payRequestStrategy = "";
            this.payRequestApi = "";
            this.orderStrategy = "";
            this.encryptionStrategy = "";
            this.signValue = "";
            this.requestValue = "";
            this.requestEncryptionStrategy = "";
            this.responseStrategy = "";
            this.pageCallbackUrl = "";
            this.callbackUrl = "";
            this.callbackStrategy = "";
            this.callbackReturnStrategy = "";
            this.orderNoStatus = "";
            this.callbackSignValue = "";
            this.rootXml = "";
            this.amountStrategy = "";
            this.queryStrategy = "";
            this.creationTime = "";
            this.creationBy = "";
            this.lastUpdatedTime = "";
            this.lastUpdatedBy = "";
        }
    }

    class PayPlatformAndModelVO {
        constructor() {
            // Platform 屬性
            this.payPlatformId = "";
            this.platformCode = "";
            this.platformName = "";
            this.merchantCode = "";
            this.secretKey = "";
            this.rsaKey = "";
            this.publicKey = "";
            this.isQuery = "";
            this.queryUrl = "";
            this.ip = "";
            this.isEnable = "";
            this.versionNo = "";
            this.successUrl = "";
            this.creationTime = "";
            this.creationBy = "";
            this.lastUpdatedTime = "";
            this.lastUpdatedBy = "";
            this.payVoucher = "";
            this.myPlatformCode = "";
            this.myPlatformName = "";
            this.myMerchantCode = "";
            this.mySecretCode = "";
            this.myIP = "";
            this.mySuccessfulURL = "";
            this.myQueryURL = "";

            // Model 屬性
            this.payModelId = "";
            this.payStrategyName = "";
            this.payStrategyType = "";
            this.payRequestStrategy = "";
            this.payRequestApi = "";
            this.orderStrategy = "";
            this.encryptionStrategy = "";
            this.signValue = "";
            this.requestValue = "";
            this.requestEncryptionStrategy = "";
            this.responseStrategy = "";
            this.pageCallbackUrl = "";
            this.callbackUrl = "";
            this.callbackStrategy = "";
            this.callbackReturnStrategy = "";
            this.orderNoStatus = "";
            this.callbackSignValue = "";
            this.rootXml = "";
            this.amountStrategy = "";
            this.queryStrategy = "";
        }

        // 方法：將 JSON 資料賦值到當前對象
        fromJSON(data) {
            Object.assign(this, data);
        }

        // 方法：將當前對象轉換為 JSON
        toJSON() {
            return JSON.stringify(this);
        }
    }

    // 當頁面加載時執行此函數

    document.addEventListener('DOMContentLoaded', getAppTypes());

    // -------------函數--------------------------
    // 找盤口函數
    function getAppTypes() {

        // 取得輸入框的值

        const appCodeValue = appCodeInput.value; // 獲取按鈕的值
        const appCodeButtonsContainer = document.getElementById('appCodeButtons');

        // 構建請求 URL
        const url = prefix + `findTest4AppByAppCode?appCode=${appCodeValue}`;
        console.log('查詢 :' + url)

        // 模糊查詢"盤口"
        $.getJSON(url)
            .done((data) => {
                // console.log(data.appType);
                // const datas = data.appType;
                let html = '';

                if (data.length === 0) {
                    html = '<p>未找到相關盤口資料</p>';
                } else {
                    // java->json->可用以下參數一一解析
                    //              盤口名    盤口名    回調地址     域名
                    data.forEach(({appCode, appName, appCallUrl, appDomain}) => {
                        html += `
                    <div class="appTypeList" id="appType_${appCode}">
                        <input type="hidden" id="appCode_${appCode}" value="${appCode}" />
                        <input type="hidden" id="appCallUrl_${appCode}" value="${appCallUrl}" />
                        <input type="hidden" id="appDomain_${appCode}" value="${appDomain}" />
                        <button id="${appCode}" class="btn btn-success" onclick="addApp('${appCode}')">${appName}</button>
                    </div>
                `;
                    });
                }

                $('#inputNum').html('共有' + data.length + ' 符合數據');
                $('#appCodeButtons').html(html);
            })
            .fail((jqXHR, textStatus, errorThrown) => {
                console.error('請求失敗：', textStatus, errorThrown);
                $('#appCodeButtons').html('<p>伺服器請求失敗，請稍後再試。</p>');
            });
    }

    /* 點擊盤口按鈕的操作 */
    function addApp(id) {
        const appCode_ = `appCode_${id}`;
        const appCallUrl_ = `appCallUrl_${id}`;
        const appDomain_ = `appDomain_${id}`;


// 欄位還沒渲染，獲取不到數值，需要分兩段獲取
        const appCode = $(`#${appCode_}`).val();      // 對應的編碼
        const appCallUrl = $(`#${appCallUrl_}`).val();   // 對應的回調地址
        const appDomain = $(`#${appDomain_}`).val();    // 對應的盤口地址

        console.info(`appCode: ${appCode}`);
        console.info(`appCallUrl: ${appCallUrl}`);
        console.info(`appDomain: ${appDomain}`);

        const requestData = {
            appCode,
            appDomain
        };

        // 若點擊的是 'test4' 按鈕，修改樣式
        if (id === 'test4') {
            const test4Button = document.querySelector('#test4');
            test4Button.style.backgroundColor = "#2F589C";
            test4Button.style.color = "yellow";
        }

        // 查詢最大值
        $.ajax({
            type: "POST",
            url: "/getMaxInfo",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(requestData),
            success: function (response) {
                console.log(requestData)
                try {
                    // 使用 JSON.parse 代替 eval
                    const data = JSON.parse(response);
                    console.info(data);

                    if (data.status === 1) {
                        // 建立新的表格行
                        const {platformId, payModleId, payChannelId, payMethodId} = data.data;
                        const newTr = `
                    <tr id="tr_${id}">
                        <td><button onclick="deleteTr('${id}')">刪除</button></td>
                        <td><input class="platformName" id="platformName_${id}" type="text" name="platformName" /></td>
                        <td><input class="platformId" type="text" id="platformId_${id}" name="platformId" /></td>
                        <td><input class="methodId" type="text" id="methodId_${id}" name="payMethodId" /></td>
                        <td><input class="channelId" type="text" id="channelId_${id}" name="payChannelId" /></td>
                        <td><input class="modelId" type="text" id="modelId_${id}" name="payModleId" /></td>
                        <td><input class="callback" id="callback_${id}" type="text" name="callback" /></td>
                    </tr>`;

                        // 在最後一行之後插入新的表格行
                        $("#exportTable tr:last").after(newTr);

                        // 設置輸入框的值
                        $(`#platformName_${id}`).val(appCode);
                        $(`#platformId_${id}`).val(platformId);
                        $(`#methodId_${id}`).val(payMethodId);
                        $(`#channelId_${id}`).val(payChannelId);
                        $(`#modelId_${id}`).val(payModleId);
                        $(`#callback_${id}`).val(appCallUrl);

                        // 禁用按鈕並添加 'huiSe' 樣式
                        $(`#${id}`).prop("disabled", true).addClass("huiSe");
                    } else if (data.status === 0) {
                        $("#appCodePS").text(data.msg).addClass('red ps')
                    }
                } catch (error) {
                    console.error("解析回應數據失敗：", error);
                }
            },
            error: function (xhr, status, error) {
                console.error("AJAX 請求失敗：", status, error);
            }
        });
    }

    // 找支付函數
    function getZFs() {
        // 構建請求體，遍歷所有 .findEZInput 元素，並以 ID 為 key，value 為 value
        const requestData = {};
        $(".findEZInput").each(function () {
            const inputId = $(this).attr('id'); // 獲取輸入框的 ID 作為 key
            const inputValue = $(this).val().trim();   // 獲取輸入框的內容作為 value，清除多餘空格

            // console.log(`key : ${inputId} , value : ${inputValue}`)
            if (inputId) {
                requestData[inputId] = inputValue;
            }
        });

        // 模糊搜尋請求並渲染找到的支付
        $.ajax({
            url: prefix + 'selPayPlatformAndModelVO',
            type: 'POST',
            contentType: 'application/json', // 設定為 JSON 格式
            data: JSON.stringify(requestData), // 將請求體轉為 JSON 字符串
            dataType: 'json' // 預期回應的格式為 JSON
        })
            .done((data) => {
                // console.log(`請求體 : ${JSON.stringify(requestData)}`);
                // console.log('找支付 內容 : ', data);

                // 清空舊的表格數據
                $("#resultZF").find("tr:gt(0)").remove();

                if (data.length === 0) {
                    // 如果沒有查詢到數據，插入提示
                    $("#zfNum").html(`
                    <span>查詢符合條件數量 : ${data.length} (上限為100)</span>
                    <span style="float: right;">查詢時間 : ${formatDate(new Date())}</span>`)

                    $("#resultZF  tbody").append('<tr><td colspan="6">未找到相關支付資料</td></tr>');
                    return;
                }

                // 遍歷返回的數據並渲染到表格中
                data.forEach((item) => {
                    let payPlatformAndModelVO = new PayPlatformAndModelVO();
                    Object.assign(payPlatformAndModelVO, item);

                    // 修改&no在html中的亂碼問題
                    const fixRequestValue = payPlatformAndModelVO.requestValue.replace('&no', '&amp;no');
                    // 插入新的表格行
                    const newRow = `
                    <tr>
                        <td class="text-nowrap exportCheckbox"> <input type="checkbox" id="${payPlatformAndModelVO.payModelId}"></td>
                        <td class="text-nowrap">${payPlatformAndModelVO.payModelId}</td>


                        <td class="text-nowrap">${payPlatformAndModelVO.payStrategyName}</td>
                        <td class="text-nowrap" style="max-width: 200px">${payPlatformAndModelVO.platformCode}</td>
                        <td class="text-nowrap">${payPlatformAndModelVO.creationTime}</td>
                        <td class="text-nowrap">${payPlatformAndModelVO.lastUpdatedBy}</td>


                        <td class="text-nowrap">${payPlatformAndModelVO.payRequestStrategy}</td>
                        <td class="text-nowrap url bgc-lightBlue" style="background-color:lightblue;">${payPlatformAndModelVO.successUrl}</td>
                        <td class="text-nowrap url">${payPlatformAndModelVO.queryUrl}</td>



                        <td class="text-nowrap">${fixRequestValue}</td>

                        <td class="text-nowrap">${payPlatformAndModelVO.callbackUrl}</td>
                        <td class="text-nowrap">${payPlatformAndModelVO.merchantCode}</td>
                        <td class="text-nowrap">${payPlatformAndModelVO.secretKey}</td>
                        <td class="text-nowrap">${payPlatformAndModelVO.publicKey}</td>
                        <td class="text-nowrap">${payPlatformAndModelVO.rsaKey}</td>
                    </tr>
                `;
                    $("#resultZF tbody").append(newRow);

                });
                $("#zfNum").html(`
                    <span>查詢符合條件數量 : ${data.length} (上限為100)</span>
                    <span style="float: right;">查詢時間 : ${formatDate(new Date())}</span>`)
            })

            .fail((error) => {
                console.error('請求失敗：', error);
                $("#resultZF").append('<tr><td colspan="6">伺服器請求失敗，請稍後再試。</td></tr>');
            });
    }


    function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');

        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }


    /*删除已經選盤口*/
    function deleteTr(nowTr) {
        $("#tr_" + nowTr).remove();
        const nozzleId = $(nowTr).attr('id');//获取id
        console.log("删除的id:" + nozzleId);
        //删除行数之后恢复对应的点击盘口按钮，使得再次可以进行添加盘口
        $("#" + nowTr).removeAttr("disabled");//将按钮可用
        $("#" + nowTr).removeClass("huiSe");
    }

    // ----------------監聽--------------------------
    // 查支付按鈕事件
    $(".findEZInput").on('keydown', function (e) {
        if (e.key === 'Enter') {
            e.preventDefault(); // 防止表單提交
            getZFs();
        }
    })
    getZFs(); // 頁面加載自動搜尋
    // 添加盤口查詢
    appCodeInput.addEventListener('keydown', function (e) {
        if (e.key === 'Enter') {
            e.preventDefault(); // 防止表單提交
            getAppTypes();
        }
    });


    // 導出按鈕
    $("#layoutBTN").click(function () {
        const ZFs = [];
        const allData = {
            Apps: [], // 初始化为空数组
            modifier: {}, // 初始化为数组
            ZFs: ZFs // 选中支付数据
        };

        // -- 預計導出盤口之數據
        $("#exportTable tr").each(function () {
            const exportAppObject = {}; // 初始化一个对象存储当前行的输入框值

            // 遍历当前行的所有输入框
            $(this).find("input").each(function () {
                const inputId = $(this).attr('class'); // 获取输入框的 class
                const inputValue = $(this).val(); // 获取输入框的值

                if (inputId) {
                    exportAppObject[inputId] = inputValue; // 将 class-值作为键值对存储
                }
            });

            // 如果该行有有效数据，加入 inputs 数组
            if (Object.keys(exportAppObject).length > 0) {
                allData.Apps.push(exportAppObject);
            }
        });

        // 验证 inputs 是否为空
        if (allData.Apps.length === 0) {
            alert("請選擇至少一個盤口");
            return;
        }

        const myInputObject = {}; // 初始化一个对象存储当前行的输入框值

        // -- 修改導出腳本內容
        $(".modifier input").each(function () {
            const inputId = $(this).attr('id'); // 获取输入框的 ID
            const inputValue = $(this).val(); // 获取输入框的值

            console.log(`inputId: ${inputId}, inputValue: ${inputValue}`);

            if (inputId) {
                // myInputObject[inputId] = inputValue; // 将 ID-值作为键值对存储
                allData.modifier[inputId] = inputValue; // 直接将 ID-值作为键值对存储到 modifier 物件
            }
        });

        // 如果该行有有效数据，加入 modifier 数组
        // if (Object.keys(myInputObject).length > 0) {
        //     allData.modifier.push(myInputObject);
        // }

        console.log("allData.modifier:", allData.modifier);

        // -- 勾選 支付搜尋
        $(".exportCheckbox input:checked").each(function () {
            const currentRow = $(this).closest("tr");
            const fourthColumnValue = currentRow.find("td:nth-child(4)").text().trim();
            ZFs.push(fourthColumnValue);
        });

        // 验证 ZFs 是否为空
        if (allData.ZFs.length === 0) {
            alert("請選擇至少一個支付！");
            return;
        }

        console.log("請求數據：", allData);

        // 将数据发送到后端
        $.ajax({
            type: "POST",
            url: "http://localhost:666/testmap",
            contentType: "application/json",
            data: JSON.stringify(allData),
            success: function (response) {
                console.log("數據已成功發送，響應數據：", response);
                alert(`數據成功導出:\n${response}`)
            },
            error: function (error) {
                console.error("發送數據時出錯：", error);
            }
        });
    });



    // 動態生成，所以事件綁在父容器丄
    $(document).on('click', '.exportCheckbox', function () {
        // console.log('123123123');

        // console.log($(".exportCheckbox input:checked").length)
    });


    // 清空所有查詢欄位
    $('#clearSearch').click(function (){
        // 選取 .modifier 下的所有 input，並清空它們的值
        document.querySelectorAll('.findEZInput').forEach(input => {
            console.log(`input.value : ${input.value}`)
            input.value = ''; // 清空 input 的值
        });
    })

</script>

</body>
</html>
