<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azhe.mapper.Pay4ListsMapper">


    <select id="selModelByEng" resultType="com.azhe.pojo.PayRequestModel">

        select *
        from `8bet`.t_pay_request_model where PLATFORM_CODE in (#{PLATFORM_CODE});
    </select>
</mapper>